.background-body {
  background-image: url("../images/contact.jpg");

}
/* START OF HERO-SECTION */
.section1-contact {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 100px;
}
.address {
  text-align: center;
  padding: 10px;
  font-weight: bolder;
}
.baby {
  text-align: center;
  padding-bottom: 75px;
}

#photo-bb {
  border: 5px double rgb(229, 136, 123);
  border-radius: 50%;
}

.how {
  color: rgb(246, 245, 239);
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 2px 2px rgb(229, 136, 123);
}


/* END OF HERO-SECTION */
/* START OF CONTACT FORM */
.cont {
  text-align: center;
}
.contact-us {
  font-size: 40px;
  padding-bottom: 15px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.submit-button {
  text-align: center;
}

.sub-button {
  text-align: center;
  padding-top: 20px;
}

.forms {
  background-color: rgb(246, 245, 239);
  padding: 50px 75px;
  border: 5px double rgb(144, 132, 71);
  border-radius: 10px;
  color: rgb(144, 132, 71);
}
/* END OF CONTACT FORM */
/* START OF SECOND SECTION */
.second-contact {
  text-align: center;
  padding-top: 50px;
}
.bear {
 
}

/* END OF SECOND SECTION */
