/* START OF HERO-SECTION */
.hero-gallery {
    border-bottom: 2px solid  rgb(229, 136, 123);
    background-image: url("../images/about-lychee2.jpg");
    background-position: center;
}
.gallery {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 75px;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
    /* color: rgb(229, 136, 123); */
    color: rgb(144, 132, 71)
    /* color: rgb(82, 135, 40); */

}
/* END OF HERO-SECTION */
/* START OF SECTION-1 */
.section1-gallery {
   padding: 30px 0;
}
.hat {
    border-radius: 25px;
}
.bowl {
    border-radius: 65px;
}
.sorting {
    width: 600px;
}
/* END OF SECTION-1 */
/* START OF SECTION-2 */
.section2-gallery {
    padding: 30px 0;
}
/* END OF SECTION-2 */
/* START OF SECTION-3 */
.section3-gallery {
    padding-bottom: 30px;
}
.drink {
    border-radius: 50%;
}
.bottom-gallery {
    border-radius: 50%;
}
/* END OF SECTION-3 */