/* START OF LOGIN */
.logg {
    background-color: rgb(122, 19, 27);
    padding: 75px;
    margin: 170px 0;
    color:  rgb(246, 245, 239);
    border-radius: 15px;
    border: 7px double rgb(246, 245, 239);
}

.login {
    text-align: center;
    font-size: 45px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.member {
    color: rgb(144, 132, 71);
    font-weight: 500;
    padding-top: 20px;
}

.not {
    text-align: center;
    padding-top: 50px;
}
/* END OF LOGIN */
/* START OF SIGNUP */
.home-page {
    text-align: center;
    padding-top: 50px;
}
.home {
    text-align: center;
    color: rgb(144, 132, 71);
    font-weight: 500;
    padding-top: 20px;
}
.sin {
    text-align: center;
    font-size: 45px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.up {
    border: 7px double  rgb(122, 19, 27);
    padding: 75px;
    margin: 170px 0;
    color: rgb(122, 19, 27);
    border-radius: 15px;
    background-color: rgb(246, 245, 239);
}
/* END OF SIGNUP */
/* START OF MEDIA QUARY */
@media (min-width: 414px) {
    .form {
        background-image: url("../images/about-lychee2.jpg");
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 769px) {
    .form {
        background-image: url("../images/lychee-bundle.png");
        background-position: center;
        background-repeat: no-repeat;
    }
}
/* END OF MEDIA QUARY */